<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		
		<link rel="stylesheet" href="css/mifang.css" />
		<title>米房服务认证</title>
		
	</head>
	<body>
		<div class="top">
			<div class="top_img"><img src="images/mifang.jpg" alt="" /></div>
			<span>米房服务</span>
		</div>
		<div class="main">
			<ul class="main_ul" style="width: 80%;margin: 0 auto;">
				<li>
					<span class="span1"><img src="images/phone.png" alt="" /></span>
					<input type="text" name="" id="" value="" placeholder="请输入手机号"/>
				</li>
				<li>
					<span class="span2"><img src="images/yanzheng.png" alt="" /></span>
					<input type="password" name="" id="pass" value="" placeholder="请输入短信验证码"/>
					<span class="span3">获取</span>
				</li>
			</ul>
		</div>
		<footer>
			<div class="button"><button>提交并认证下一项</button></div>
			<div class="bg">
				<div class="bg_left"><img src="images/bj1.png" alt="" /></div>
				<div class="bg_right"><img src="images/bj2.png" alt="" /></div>
			</div>
		</footer>
	</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/mifang.js"></script>
	<script src="js/flexible.js"></script>
</html>
