<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta http-equiv="Expires" content="-1">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		
		<link rel="stylesheet" href="css/register.css" />
		<title>注册</title>
		
	</head>
	<body>
		<div class="top">
			<div class="top_img">
				<img src="images/banner.png" alt="" />
				<p class="p1">微信 &amp; 地网数据中心管理系统</p>
				<p class="p2">Wechat&amp;Management system of data center of DiWang</p>
			    <span><img src="images/wx.png"/><i>地网数据</i></span>
			</div>
		</div>
		<div class="main">
			<ul class="main_ul" style="width: 80%;margin: 0 auto;">
				<li>
					<span class="span1"><img src="images/phone.png" alt="" /></span>
					<input type="text" name="" id="" value="" placeholder="请输入手机号"/>
				</li>
				<li>
					<span class="span2"><img src="images/password.png" alt="" /></span>
					<input type="password" name="" id="pass" value="" placeholder="请输入密码"/>
					<span class="span3"><a href="">注册/设置新密码</a></span>
				</li>
				<li>
					<span class="span2" style="width: 0.55rem;position:absolute;left: 0.15rem;"><img src="images/yanzheng.png" alt="" /></span>
					<input type="password" name="" id="pass" value="" placeholder="请输入短信验证码"/>
					<span class="span3" style="width: 60px;height: 30px;line-height: 30px;text-align: center;color: #fff;background: #3085F9;
       border-radius: 15px;padding: 0 5px;position: absolute;right: 0;top:0.3rem;font-size: 0.3rem;">获取</span>
				</li>
			</ul>
		</div>
		<footer>
			<div class="button"><button>登录</button></div>
			<p>登录即代表您同意<a href="">《地网数据安全保密服务条款》</a></p>
			<div class="bg">
				<div class="bg_left"><img src="images/bj1.png" alt="" /></div>
				<div class="bg_right"><img src="images/bj2.png" alt="" /></div>
			</div>
		</footer>
	</body>
	<script src="js/jquery.min.js"></script>
	<script src="js/flexible.js"></script>
</html>
