@charset "utf-8";

*{margin: 0;padding: 0;}
body{width: 100%;height: auto;min-width: 320px;font-family: "微软雅黑";}
header{width: 100%;height: 200px;background: #3762ff;color: #fff;font-size: 0.4rem;}
.head_left{width: 40%;float: left;height: 200px;display: inline-block;}
.head_right{width: 60%;float: left;text-align: center;height: 200px;padding-top: 60px;display: inline-block;box-sizing: border-box;}
.head_right h2{font-size: 0.5rem;margin-bottom: 0.5rem;}
.head_right p{font-size: 0.25rem;}
a{text-decoration: none;}

/*主体部分*/
.main{width: 100%;box-sizing: border-box;padding: 20px 0;height: auto;}
.main>ul{width: 100%;list-style: none;height: auto;}
.mian>ul li{width: 100%;height: 60px;line-height: 1.8rem;}
.main ul li .li_left{width: 50%;float: left;height: 1.8rem;line-height: 1.8rem;border-bottom: 1px solid #ddd;position: relative;}
.main ul li .li_right{width: 50%;float: left;text-align: right;height: 1.8rem;line-height: 1.8rem;border-bottom: 1px solid #ddd;position: relative;}
.li_left .span1{display: inline-block;width: 1.5rem;height: 1.8rem;}
.li_left .span1 img{width: 45px;position: absolute;top:0.5rem;left: 0.3rem;}
.li_right .span3{display: inline-block;width:0.8rem;height: 1.8rem;}
.li_right .span3 img{width: 0.7rem;position: absolute;top:0.5rem;right: 0.9rem;}
.li_right .span4{background: url(../images/arrow.png) no-repeat 0px 0.5rem;background-size: 0.7rem;display: inline-block;width: 0.8rem;height: 1.8rem;}
.li_right .span5{color: #7d7d7d;position: absolute;top:-0.03rem;right: 0.9rem;font-size: 0.35rem;}
#process{position: relative;left: -20px;}
.li_right:hover{cursor: pointer;}
