@charset "utf-8";

*{margin: 0;padding: 0;}
body{width: 100%;height: 420px;min-width: 1000px;font-family: "微软雅黑";overflow-x: hidden;}
ul li{list-style: none;}
a{text-decoration: none;color:#000;}
/*a:hover,a:active{text-decoration: none;}*/
a:link,a:visited,a:hover,a:active{text-decoration: none;}
i{font-style: normal;}
.demo{font-weight: 700;}
ol, ul {
    margin-top: 0;
    margin-bottom: 0!important;
}

/*顶部导航栏*/
.shortcut{width: 100%;background: #0583CE;height: 50px;line-height: 50px;color: #fff;min-width: 1200px;margin-bottom: 0;}
.shortcut_small{width:1200px;min-width: 1200px;margin: 0 auto;height: 50px;line-height: 50px;}
.sc_ul_left{float: left;width: 700px;height: 50px;line-height: 50px;font-size: 14px;}
.sc_ul_left .scl_img{width: 40px;height: 50px;line-height: 50px;display: inline-block;background: url(../images/sc_icon1.png) no-repeat 0 8px;background-size: 80%;margin: 0 auto;}
.sc_ul_left li{float: left;height: 50px;line-height: 50px;width: 100px;}
.sc_ul_left li:hover{cursor: pointer;}
.sc_ul_left li:first{position: relative;font-size: 18px;}
.ul_left_span1{display: inline-block;height: 50px;line-height: 50px;position: absolute;top: 0;font-weight: 800;font-size: 16px;}

.sc_ul_right{float: right;width: 500px;height: 50px;line-height: 50px;font-size: 14px;}
.ul_right_span1{display: inline-block;box-sizing: border-box;padding: 0 8px;width: 180px;text-align: center;}
.sc_ul_right li{float: right;height: 50px;line-height: 50px;}
.sc_ul_right .sur_li1{position: relative;width: 155px;}
.sc_ul_right .sur_li2{position: relative;width: 260px;}
.sc_ul_right .scr_img1,.sc_ul_right .scr_img2{width: 30px;height: 50px;line-height: 50px;display: inline-block;position: relative;}
.sc_ul_right .scr_img1 img{width: 20px;position: absolute;top:16px;}
.sc_ul_right .scr_img2 img{width: 20px;position: absolute;top:16px;left: 97px;}
.ul_right_span3{display: inline-block;height: 50px;line-height: 50px;position: absolute;top: 0;width: 90px;}
.ul_right_span2{background: #E74C3C;border-radius: 4px;box-sizing: border-box;padding: 4px 9px;}
.ul_right_span2:hover{cursor: pointer;}
.ul_down{width:162px;position: absolute;color: #fff;background: #0583CE;top:50px;text-align:center;z-index: 999;}
.ul_down li{border-bottom: 1px solid #fff;}
.ul_down li a{color: #fff;}

/*main主体部分*/
.main{width: 100%;min-width: 1200px;}
.main_samll{width: 1200px;min-width: 1200px;margin: 0 auto;}
.ms_left{width: 180px;height: 950px;background: #E4E4E4;float: left;}
.gonggao{width: 180px;height: 150px;}
.gonggao .laba{font-size: 16px;color: #E74C3C;width: 180px;height: 120px;line-height:120px;position: relative;font-weight: 700;letter-spacing: 1px;}
.gonggao .laba em{background: url(../images/person.png) no-repeat 0px 0px;width: 20px;height:20px;background-size:100% ;display: inline-block;position: absolute;top: 57px;left:50%;margin-left: -48px;}
.laba_word{box-sizing: border-box;padding: 0 5px;position: absolute;top:7px;left: 50%;margin-left: -27px;}
.gg_content{box-sizing: border-box;padding: 5px 15px;text-indent: 20px;font-size: 14px;overflow: hidden;text-overflow: ellipsis;display:-webkit-box; -webkit-box-orient:vertical;

-webkit-line-clamp:2; }

.msl_ul{width: 180px;color: #0583CE;font-size: 18px;margin-bottom: 215px!important;}
.msl_ul a{color: #0583CE;}
.msl_ul li{width: 180px;height: 50px;line-height: 50px;background:#fff;margin-bottom: 20px;position: relative;}
.msl_ul li i{font-style: normal;}
.msl_img{width: 99px;height: 40px;display: inline-block;}.img1{background: url(../images/sc_icon22.png) no-repeat 10px 13px;background-size:52%;}
.img1{background: url(../images/score.png) no-repeat 36px 13px;background-size:24%;}
.msl_span1{position: absolute;top:0;left: 70px;}
.img2{background: url(../images/price.png) no-repeat 36px 13px;background-size:24%;}
.img3{background: url(../images/time.png) no-repeat 36px 13px;background-size:24%;}
.img4{background: url(../images/daima.png) no-repeat 36px 13px;background-size:24%;}


/*地网小姐姐*/
.diwang{width:180px;margin-bottom: 50px;}
.diwang .girl{width: 180px;height: 40px;line-height: 40px;text-align: center;font-size: 14px;color: rgba(16,16,16,1);}
.erweima{width: 140px;margin: 0 auto;}
.erweima img{width: 100%;}

/*icp*/
.icp{width: 180px;height: 40px;line-height: 40px;color: #bbb;font-size: 14px;text-align: center;}

.ms_right{width: 1020px;height: 950px;float: right;box-sizing: border-box;padding: 20px 0 0 30px;}
.ms_right .msr_top{width: 1020px;height: 100px;line-height: 100px;box-sizing: border-box;padding: 0 0 0 30px;border: 1px solid #ddd;}
.userName,.userPhone,.userId,.add{display: inline-block;margin-left: 30px;}
.ms_right .msr_top input{width:150px;height: 30px;text-indent: 15px;font-size: 14px;}
.add{width: 100px;height: 30px;}
.add a{background: #0583CE;padding: 8px 20px;color: #fff;font-size: 14px;border-radius: 4px;}

.table{text-align: center;}
.table thead th{text-align: center;}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #0583CE!important;
}