@charset "utf-8";

*{margin: 0;padding: 0;}
body{width: 100%;min-width: 1000px;font-family: "微软雅黑";overflow-x: hidden;background: #D4D4D4;}
ul li{list-style: none;}
a{text-decoration: none;color:#000;}
/*a:hover,a:active{text-decoration: none;}*/
a:link,a:visited,a:hover,a:active{text-decoration: none;}
i{font-style: normal;}
ol, ul {
    margin-top: 0;
    margin-bottom: 0!important;
}
.demo4{border-bottom: 3px solid #0583CE;}
dl {
    margin-top: 0; 
    margin-bottom: 0!important;
    padding: 10px;
    box-sizing: border-box;
}
dd, dt {
    line-height: 2!important;
}
label{font-weight: normal!important;}

.btn-primary {
    color: #fff;
    background-color: #1393F0!important;
    border:none!important;
}
.btn-primary:hover{
	border:none;
}
.mengban{width: 100%;height: 308px;background: #fff;position: absolute;top: 50px;z-index: 1;}
/*顶部导航栏*/
.shortcut{width: 100%;background: #0583CE;height: 50px;line-height: 50px;color: #fff;min-width: 1200px;margin-bottom: 0;}
.shortcut_small{width:1200px;min-width: 1200px;margin: 0 auto;height: 50px;line-height: 50px;}
.sc_ul_left{float: left;width: 700px;height: 50px;line-height: 50px;font-size: 14px;}
.sc_ul_left .scl_img{width: 40px;height: 50px;line-height: 50px;display: inline-block;background: url(../images/sc_icon1.png) no-repeat 0 8px;background-size: 80%;margin: 0 auto;}
.sc_ul_left li{float: left;height: 50px;line-height: 50px;width: 100px;}
.sc_ul_left li:hover{cursor: pointer;}
.sc_ul_left li:first{position: relative;font-size: 18px;}
.ul_left_span1{display: inline-block;height: 50px;line-height: 50px;position: absolute;top: 0;font-weight: 800;font-size: 16px;}

.sc_ul_right{float: right;width: 500px;height: 50px;line-height: 50px;font-size: 14px;}
.ul_right_span1{display: inline-block;box-sizing: border-box;padding: 0 8px;width: 180px;text-align: center;}
.sc_ul_right li{float: right;height: 50px;line-height: 50px;}
.sc_ul_right .sur_li1{position: relative;width: 155px;}
.sc_ul_right .sur_li2{position: relative;width: 260px;}
.sc_ul_right .scr_img1,.sc_ul_right .scr_img2{width: 30px;height: 50px;line-height: 50px;display: inline-block;position: relative;}
.sc_ul_right .scr_img1 img{width: 20px;position: absolute;top:16px;}
.sc_ul_right .scr_img2 img{width: 20px;position: absolute;top:16px;left: 97px;}
.ul_right_span3{display: inline-block;height: 50px;line-height: 50px;position: absolute;top: 0;width: 90px;}
.ul_right_span2{background: #E74C3C;border-radius: 4px;box-sizing: border-box;padding: 4px 9px;}
.ul_right_span2:hover{cursor: pointer;}
.ul_down{width:162px;position: absolute;color: #fff;background: #0583CE;top:50px;text-align:center;z-index: 999;}
.ul_down li{border-bottom: 1px solid #fff;}
.ul_down li a{color: #fff;}

/*主体部分上半部分*/
.main{width: 100%;min-width: 1200px;height: 2200px;background: #E4E4E4;}
.main .main_samll{width: 1200px;min-width: 1200px;margin: 0 auto;}
.main_top{width: 1200px;min-width: 1200px;height: 250px;box-sizing: border-box;padding: 15px;background: #fff;position: relative;z-index: 2;}
.main_toptop{width: 100%;height: 250px;background: #fff;}
.mt_left{width: 50%;height: 230px;float: left;}
.mtl_left{width: 180px;height: 220px;float: left;}
.mtl_left img{width: 100%;}
.mtl_right{float: left;box-sizing: border-box;padding: 0 0 10px 20px;}
.ltr_top{width:200px;height: 40px;position: relative;margin-bottom: 5px;}
.ltr_top span{display: inline-block;width: 50px;font-size: 20px;}
.ltr_top .span2{display: inline-block;width: 20px;height: 20px;position: absolute;top: 2px;left: 89px;}
.ltr_top .span2 img{width: 20px;height: 20px;}
.ltr_top .span3{position:absolute;right: 7px;font-size: 24px;width: 70px;top:0;}

.ltr_center ul li{height: 25px;color: #9D9D9D;}
.ltr_center ul .li2{margin-bottom: 6px;}

.ltlt_i{background-image: url(../images/white.png);background-repeat: no-repeat;background-position:0px 2px;display: inline-block;width: 30px;height: 23px;background-size:20px;}
.ltlt_i1{background: url(../images/blue.png) no-repeat 0px 2px;display: inline-block;width: 20px;height: 23px;background-size:20px;}
.ltr_center .li3{position: relative;}
.ii{font-style: normal!important;color: #0583CE;position: absolute;top:0;left: 30px;}


.mt_right{width: 50%;height: 220px;float: right;border: 1px solid #D4D4D4;}
.mtr_ul{width: 100%;height: 180px;overflow: auto;}
.mtr_ul li{width: 100%;height: 30px;line-height: 30px;font-size: 14px;text-indent: 15px;border-bottom: 1px dashed #D4D4D4;}
.mt_right input{width: 78%;height: 36px;line-height: 37px;border: none;outline: none;}
.mt_right i{display: inline-block;width: 10%;text-align: center;}
.mt_right i img{width: 30px;height: 30px;}

/*主体部分中间导航*/
.main_nav{width: 100%;height: 60px;line-height: 60px;margin-bottom: 5px;position: relative;z-index: 2;}
.mn_ul{width: 100%;height: 60px;line-height: 60px;list-style: none;border-bottom: 2px solid #ddd;background: #fff;}
.mn_ul li{width: 10%;float: left;height: 60px;line-height: 60px;text-align: center;font-size: 18px;}
.mn_ul li a{color: #444;}

.btn{padding: 2px 8px!important;}


/*负债查询选项卡部分*/
.detail_cont{width: 100%;}
.nav_small{width: 100%;height: 60px;line-height: 45px;}
.ns_ul{width: 100%;height: 60px;line-height: 60px;list-style: none;}
.ns_ul li{float: left;width: 33%;height: 60px;line-height: 60px;font-size: 16px;text-align: center;margin-bottom: 25px;background: #ddd;}
.ns_ul li:hover{cursor: pointer;}
.tab_cont{width: 100%;}
.tab_cont img{width: 100%;}
.ns_ul li i{display: inline-block;width: 60px;height: 60px;margin-left: 30px;}
.ns_ul li i img{width: 100%;}


