<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dwsj.dao.APIUserItemDAO">
    <resultMap id="apiUserItemMap" type="com.dwsj.vo.APIUserItemVo"></resultMap>
    <sql id="search">
        <if test="#{searchVal!=null} and #{searchVal!=''}">
            and (task_id like concat('%${searchVal}%'))
        </if>
    </sql>
    <select id="getById" resultMap="apiUserItemMap" parameterType="long">
        select * from t_api_user_item where id = #{id}
    </select>
    <delete id="removeById" parameterType="long">
        delete from t_api_user_item where id = #{id}
    </delete>
    <select id="listPage" resultMap="apiUserItemMap">
        select * from t_api_user_item where 1=1 <include refid="search"/> order by create_time desc limit #{pageNo},#{pageSize}
    </select>
    <select id="listAll" resultMap="apiUserItemMap">
        select * from t_api_user_item
    </select>
    <select id="count" resultType="java.lang.Long">
        select count(id) from t_api_user_item where 1=1 <include refid="search"/>
    </select>
    <select id="getInfoByPhone" resultMap="apiUserItemMap">
        select * from t_api_user_item where phone = #{phone} order by create_time desc limit 1
    </select>
    <insert id="save" parameterType="apiUserItemVo">
        insert into t_api_user_item ( user_id, money, task_id, content, is_active, create_time,data,phone) values ( #{userId},#{money},#{taskId},#{content},#{isActive},now(),#{data},#{phone})
    </insert>
    <update id="updateStatus">
        update t_api_user_item set is_active=#{status} where id=#{id}
    </update>
</mapper>