<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dwsj.dao.VerifcodeDAO">
    <resultMap id="entityMap" type="verifcode"></resultMap>
    <select id="queryByCode" parameterType="string" resultType="string">
        select code from t_verifcode  where  mobile = #{mobile} and addtime>=now() and status=0 order by  create_time limit 0,1
    </select>
    <select id="getVerifcode" parameterType="string" resultMap="entityMap">
        select * from t_verifcode  where  mobile = #{mobile} and addtime>=now() and status=0 order by  create_time limit 0,1
    </select>
    <select id="cnt" resultType="int" parameterType="string">
        select count(id) from t_verifcode where mobile=#{mobile} and ip=#{ip} and DATE_FORMAT(create_time, '%Y-%m-%d')=DATE_FORMAT(NOW(),'%Y-%m-%d')
    </select>
    <delete id="delete" parameterType="String">
        delete from t_verifcode where mobile = #{mobile}
    </delete>
    <insert id="save" parameterType="verifcode">
        insert into t_verifcode (mobile, code, msg,addtime,status,create_time,ip) values ( #{mobile}, #{code}, #{msg},date_add(#{addtime}, interval 5 minute),#{status},now(),#{ip})
    </insert>
    <update id="updateStatus">
        update t_verifcode set status =#{status} where  id=#{id}
    </update>
    <update id="updateCodeStatus">
        update t_verifcode set status =#{status} where  mobile = #{mobile} and addtime>=now() and status=0 order by create_time
    </update>
</mapper>